@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  font-family: 'Poppins', sans-serif;
  
}
.btn__enroll{
  padding: 15px;
  background-color: transparent;
  border-radius: 40px;
  border: 2px solid #fff;
}

.nav__item{
  text-decoration: none;
  color: white;
}
.nav__list{
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
}
.nav__bar{
  z-index: 88;
  background-color: transparent;
}


.nav__menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 80%;
}
.show{
  right: 0;
}
@media screen and (max-width:1022px) {
  .nav__menu{
    height: 100vh;
    position: fixed;
    justify-content: unset;
    flex-direction: column;
    top: 6rem;
    background-color: rgb(105, 112, 114);
    right: -120%;
    padding: 3rem;
    transition: .5s;
  }
  .show{
    right: 0;
  }
  .nav__item{
    margin-bottom: 6rem;
  }
}