@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  font-family: sans-serif;
  letter-spacing: 5px;
}
.btn__enroll{
  padding: 15px;
  background-color: transparent;
  border-radius: 40px;
  border: 2px solid #fff;
}

.nav__item{
  text-decoration: none;
  color: white;
}
.nav__list{
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
}
.nav__bar{
  z-index: 88;
  background-color: transparent;
}